@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Ingredient

<h2>Add an Ingredient</h2>
@using (Html.BeginForm())
{
  @Html.Hidden("RecipeId", (int)ViewBag.RecipeId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new Ingredient" />
}
@Html.ActionLink("Add Instructions", "Create", "Instructions", new { id = ViewBag.RecipeId })
