@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@model List<RecipeBook.Models.Recipe>;

<h1>Recipe List</h1>

@if (@Model.Count == 0)
{
    <h3>No recipes currently listed.</h3>
}

@foreach (Recipe recipe in Model)
{
  <li>@Html.ActionLink($"{recipe.Title}", "Details", new { id = recipe.RecipeId })</li>
}


<nav class="navbar navbar-light">  
  <div class="container-fluid" id="nav-background">  
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span><li>@Html.ActionLink("Add new recipe", "Create")</li>  
      </button>
    </ul>
  </div>
</nav>