@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Instruction

<h2>Add an Instruction</h2>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Blurb)
  @Html.TextBoxFor(model => model.Blurb)
  <input type="submit" value="Add Instruction" />
}