@{
  Layout = "_Layout";
}
<h1>Recipe Book</h1>
<p>Welcome to your very own recipe book,<br>
  Feel free to add any recipes you make or are excited to try, or feel free to explore by ingredient or tag to find something you may enjoy.
</p>